        *{
            font-family: kaiti;
            padding: 0;
            margin: 0;
        }
        body{
            background-color: #727272;
            height: 2000px;
        }
        
        .main{
            width: 600px;
            /* height: 700px; */
            /* background-color: aqua; */
            margin: 10px auto 0;
        }
        .main .left,.main .right{
            /* background-color: rgb(144, 191, 218); */
            position: relative;
            width: 298px;
            /* height: 200px; */

        }
        .main .left{
            float: left;
            border-right: 4px solid;
        }
        .left .dot{
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: white;
            border: 2px solid lightblue;
            border-radius: 6px;
            right: -9px;
            top: 50%;
            margin-top: -3px;
        }
        .main .right{
            float:right;
            border-left: 4px solid;
        }
        .right .dot{
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: white;
            border: 2px solid lightblue;
            border-radius: 6px;
            left: -9px;
            top: 50%;
            margin-top: -3px;        
        }

        .left .jiantou{
            position: absolute;
            width: 0px;
            height: 0px;
            /* background-color: red; */
            border-top: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid rgba(0, 0, 0, 0.507);
            top: 50%;
            margin-top: -4.7px;
            right: -5px;
        }
        .right .jiantou{
            position: absolute;
            width: 0px;
            height: 0px;
            /* background-color: red; */
            border-top: 10px solid transparent;
            border-right: 10px solid rgba(0, 0, 0, 0.507);
            border-bottom: 10px solid transparent;
            border-left: 10px solid transparent;
            top: 50%;
            margin-top: -4.7px;
            left: -5px;
        }

        .main .left .con{
            padding: 15px;
            background-image: linear-gradient(to right,rgba(5, 5, 5, 0.438),rgb(160, 160, 160));
            width: 273px;
            height: 85%;
            margin-left: -20px;
            border-radius: 10px;
        }
        .main .right .con{
            padding: 15px;
            background-image: linear-gradient(to right,rgb(160, 160, 160),rgba(5, 5, 5, 0.438));
            width: 273px;
            height: 85%;
            margin-left: 15px;
            border-radius: 10px;
        }

        .con span{
            display: block;
            text-align: center;
        }
        .con h3{
            font-weight: 50;
            color: rgb(212, 212, 212);
            text-align: center;
        }
        .con p{
            font-size: small;
            font-style: italic;
            text-align: right;
            color: rgb(43, 43, 43);
        }

        footer{
            position: absolute;
            bottom: -1000px;
        }
